.cpt-list ul {
    list-style-type none
    li {
    width 80%;
    height 80px;
    line-height 80px
    margin-left auto
    margin-right auto
    background-color #fff
    border 1px solid #eee
    padding 15px
    }

    }

